# Case Study on Testing of Hypothesis

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Sales_add.csv')
data.head(5)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [4]:
data.shape

(22, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Null Hypothesis(H0):Sales not get increased after stepping into digital marketing....
     mean of sales after stepping into digital marketing<=mean of sales before 

Alternate Hypothesis(H1): 
    There is an increase in sales...
    mean of sales after stepping into digital >marketing mean of sales before

In [7]:
import scipy.stats as stat
t_stat,p_value=stat.ttest_rel(data['Sales_After_digital_add(in $)'],data['Sales_before_digital_add(in $)'],alternative='greater')
print('T statistic value=',t_stat)
print('p value=',p_value)

T statistic value= 12.09070525287017
p value= 3.168333502287889e-11

In [8]:
alpha=0.05
if p_value<=alpha:
    print("Reject H0,sales didn't increased")
else:
     print('Accept H0,sales has been increased')

Reject H0,sales didn't increased

# The company needs to check whether there is any dependency between the features“Region”and“Manager”.

Null Hypothesis(H0):Two variables are independent
Alternate Hypothesis(H1): Two variables are not independent

In [9]:
data1=pd.crosstab(data['Manager'],data['Region'])
print(data1)

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [10]:
observed=data1.values

In [11]:
observed

array([[4, 4, 1],
       [3, 1, 3],
       [3, 2, 1]], dtype=int64)

In [12]:
val=stat.chi2_contingency(data1)

In [13]:
expected=val[3]

In [14]:
expected

array([[4.09090909, 2.86363636, 2.04545455],
       [3.18181818, 2.22727273, 1.59090909],
       [2.72727273, 1.90909091, 1.36363636]])

In [15]:
no_of_row=len(data1.iloc[0:2,0])
no_of_col=len(data1.iloc[0,0:2])
dof=(no_of_row-1)*(no_of_col-1)
alpha=0.05
print('Degree Of Freedom:',dof)

Degree Of Freedom: 1

In [16]:
from scipy.stats import chi2
chi_sq=sum([(o-e)**2./e for o,e in zip(observed,expected)])
chi_stat=chi_sq[0]+chi_sq[1]
print('Chi-Square Statistic=',chi_stat)

Chi-Square Statistic= 1.1712018140589566

In [17]:
critical_value=chi2.ppf(q=1-alpha,df=dof)
print('Critical Value=',critical_value)

Critical Value= 3.841458820694124

In [18]:
p_value=chi2.cdf(x=chi_stat,df=dof)
print('P Value=',p_value)
print('Significance Level',alpha)
print('Degree of Freedom',dof)

P Value= 0.720845562353432
Significance Level 0.05
Degree of Freedom 1

In [19]:
if p_value<=alpha:
    print('Reject H0,both are independent')
else:
     print('Accept H0,both are dependent')

Accept H0,both are dependent